*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.project-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}

.todo-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.todo-div {
    height: 100px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
}

.todo-checkbox {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 20%;
    width: 20%;
}

.todo-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.todo-description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.todo-date {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.todo-edit {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    height: 25%;
    width: 25%;
}

.todo-edit:hover {
    fill: grey;
}

.edit-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.edit-dialog form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.todo-delete {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
    height: 25%;
    width: 25%;
}

.todo-delete:hover {
    fill: red;
}


.project-div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 15px;
}